*~
*.elc

.cache
auto-save-list
backup
transient/

desktops/
.lsp-session-v1
projectile-bookmarks.eld
treemacs/
wsp/

# straight.el: installed packages
straight/build
straight/build-cache.el
straight/repos